body {
    font-family: 'Arial', sans-serif;
    background-color: #4781da;
    margin: 0;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 90%;
    max-width: 900px;
  
  background: rgb(108, 130, 190);
    margin-top: 50px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

header {
    text-align: center;
    border-bottom: 2px solid #eee;
    margin-bottom: 30px;
}

.nav-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: -2px;
}

.nav-item {
    text-decoration: none;
    color: #555;
    padding: 12px 25px;
    font-weight: bold;
    border: 2px solid transparent;
    border-radius: 10px 10px 0 0;
    transition: 0.3s;
}

.nav-item:hover {
    color: #e67e22;
    background: #fff5eb;
}

.nav-item.active {
    color: #e67e22;
    border: 2px solid #eee;
    border-bottom: 2px solid white;
    background: white;
}

.profile-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.avatar-container img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid #e67e22;
    object-fit: cover;
}

.btn-project {
    display: inline-block;
    background: #e67e22;
    color: white !important;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
}